h1{
    font-family: Medieval;
    text-align: center;
}
@font-face {
    font-family: Medieval;
    src: url(Medieval.ttf);
}

#cardCanvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    max-width: 14%;
    max-height: 14%;
}
.controls {
    text-align: center;
    margin-top: 10px;
}
canvas{
    background-color: black;
}